@model HomeIndexViewModel
@{
    ViewBag.Title = "Home Index";
}
@*
    @Html.Partial("_StudentTable",Model.Students)
*@
<partial name="_StudentTable" for="@Model.Students"/>
@*
<h1>
    @foreach(var s in Model.Students){
        <li>
            @s.Name (@s.Age) 
            <a asp-action="Detail",
            asp-route-id="@s.Id">明细 Tag</a>
        </li>
    }
</h1>
*@
@section bottom{
    <div>
        <a asp-action="Create">添加一个学生</a>
    </div>
}
@*
@await Component.InvokeAsync("Welcome")
*@
<vc:welcome></vc:welcome>
@*
    例如有WelcomeStudentsViewComponent.cs，
    这是需要改为<vc:welcome-students></vc:welcome-students>
*@
@*
    需要注册@addTagHelper *,dotnetcore3stu
*@
